.modal-signup-form > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 1.8em;
    font-weight: 400;
    margin: 3.1em 0 3.1em 0;
}

.form-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content-main > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.form-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3.1em 0 0 0;
}

.form-content-footer > button {
    font-weight: bold;
    background-color: transparent;
    font-size: 0.9em;
    color: black;
    border: 0.1em solid black;
    border-radius: 2.2em;
    padding: 0.6em 0.9em 0.6em 0.9em;
    margin: 0 0 0 1em;
}