.mF-author-profile {
    width: 20px;
    height: 20px;
    border-radius: 20px;
}

.mF-content-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    padding: 40px 0 0 0;
}

.mF-content-story {
    width: 85vw;
    max-width: 750px;
}

.mF-story-sample {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 16px;
    color: #757575;
    text-overflow: ellipsis;
    line-height: 17px;
    overflow: hidden;
}

.mF-story-title > h2 {
    font-size: 22px;
    margin: 0;
}

.mF-story-img > img {
    height: 134px;
    width: 200px;
    overflow: hidden;
    object-fit: cover;
}

.mF-story-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

.mF-story-author > * {
    margin: 0 10px 0 0;
}

.mF-content-story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    height: 134px;
}

.mF-story-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0 25px 0 0;
}

.mF-story-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 15px 0 0 0;
}

.mF-story-info > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 15px 0 0;
    font-size: 13px;
    color: #757575;
}

.mF-story-tag {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 7px 10px;
}