.mF-author-profile {
    width: 1.25em;
    height: 1.25em;
    border-radius: 1.25em;
}

.mF-content-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: sans-serif;
    padding: 2.5em 0 0 0;
}

.mF-content-story {
    width: 85vw;
    max-width: 46.9em;
}

.mF-story-sample {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1em;
    color: #757575;
    text-overflow: ellipsis;
    line-height: 1.1em;
    overflow: hidden;
}

.mF-story-title > h2 {
    font-size: 1.4em;
    margin: 0;
}

.mF-story-img > img {
    height: 8.4em;
    width: 12.5em;
    overflow: hidden;
    object-fit: cover;
}

.mF-story-author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.mF-story-author > * {
    margin: 0 0.6em 0 0;
}

.mF-content-story {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    height: 8.4em;
}

.mF-story-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 0 1.6em 0 0;
}

.mF-story-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.9em 0 0 0;
}

.mF-story-info > p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0.9em 0 0;
    font-size: 0.8em;
    color: #757575;
}

.mF-story-tag {
    background-color: #f2f2f2;
    border-radius: 0.9em;
    padding: 0.4em 0.6em;
}