.modal-form-component > p {
    font-family: serif;
    font-size: 1.8em;
    font-weight: 400;
    text-align: center;
}

.error-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-list > ul {
    text-align: center;
    margin: 0;
}

.modal-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 1.8em;
    font-weight: 400;
    margin: 0 0 4.7em 0;
}

.form-content-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content-main > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: left;
}

.input-field {
    border-style: none;
    border-bottom: 0.06em solid black;
    text-align: center;
    margin: 0.6em 0 0.9em 0;
    height: 2.2em;
    width: 13.1em;
    font-size: 0.9em;
}

.form-content-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3.1em 0 0 0;
}

#btn-signIn {
    margin: 3.1em 0 0 0;
    max-width: 9.4em;
}

.error-message {
    color: red;
    text-align: center;
}