.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 25em;
    min-height: 10em;
    padding: 3em;
    border-radius: 0.5em;
    box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
}

.btn-x {
    background-color: transparent;
    font-size: 1.5em;
    color: rgba(128, 128, 128, 0.25);
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

.modal-close {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin: -1.5em -2em 0 0;
}