.sP-content-main {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 30em;
    border-bottom: 0.06em solid black;
    background-color: #a7dcfd;
}

.sP-content-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    max-width: 46.9em;
    padding: 0 0.6em 0 0.6em;
}

.sP-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 0 0.9em 0;
}

.sP-content-left > * {
    margin: 0;
}

.sP-content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: right;
    padding: 0 0 2.8em 0;
}

.sP-heading {
    font-family: serif;
    font-size: 4em;
    font-weight: 400;
    margin: 0 0 0.6em 0;
}

.sP-subheading {
    color: white;
    font-size: 1.25em;
    margin: 0 0 0.6em 0;
}

.ai-text-art {
    height: 16em;
}

.nav-bar-space-background {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 4.7em;
    background-color: white;
}

.nav-bar-space-background-blue {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 4.7em;
    background-color: #a7dcfd;
}

.nav-bar-space-filler {
    width: 100vw;
    height: 4.7em;
}

@media (max-width: 45.8em) {
    .sP-heading,
    .sP-subheading {
        display: none;
    }
    .ai-text-art {
        width: 60vw;
    }
    .sP-content-main {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: right;
    }
}