form > .btn-black {
    margin: 2em 0 0 0;
}

.text-area {
    overflow: scroll;
    min-height: 8em;
    width: 100%;
    font-size: serif;
    resize: none;
    border: 0.1em solid black;
    border-radius: 0.5em;
    
}