.nav-content-main {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4.7em;
    border-bottom: 0.06px solid black;
}

.nav-content-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    max-width: 46.9em;
}

.medium-logo {
    height: 2.8em;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-family: sans-serif;
}

.nav-bar > * {
    margin: 0 0.6em 0 0.6em;
}

.btn-black {
    background-color: black;
    border-radius: 2.2em;
    border-style: none;
    font-size: 0.9em;
    color: white;
    padding: 0.6em 0.9em 0.6em 0.9em;
    margin: 0;
}

.btn-black:hover {
    cursor: pointer;
}

.btn-plain {
    border: none;
    background-color: transparent;
    color: #292929;
    font-size: 0.9em;
}

.btn-plain:hover {
    cursor: pointer;
}

.btn-grey {
    background-color: #979797;
    border-radius: 2.2em;
    border-style: none;
    font-size: 0.9em;
    color: white;
    padding: 0.6em 0.9em 0.6em 0.9em;
    margin: 0;
}

#main-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main-logo > h1 {
    margin: 0 0 0 0.3em;
}

/* #main-logo-text-1:first-letter {
    color: grey;
}

#main-logo-text-2 {
    color: grey;
} */